body {
  background-color: black;
}

* {
  box-sizing: border-box;
  border-radius: 50%;
}

.planet {
  margin: 50px auto;
}

.core {
  background-color: yellow;
  border-color: orange;
  border-style: solid;
}

.mantle {
  background-color: orangered;
  border-color: red;
  border-style: solid;
}

.crust {
  background-color: brown;
  /* border-color depends on planet! */
  border-style: solid;
}

/*
  planet height and width => height and width
  inner-layers => padding;
  outer-layers => border-width;
  make it round => border-radius;
*/

.planet.earth {
  height: 400px;
  width: 400px;
}

.earth .crust {
  padding: 10px;
  border-width: 10px;
  border-color: blue;
}

.earth .mantle {
  padding: 120px;
  border-width: 20px;
}

.earth .core {
  padding: 30px;
  border-width: 10px;
}

.planet.mars {
  height: 300px;
  width: 300px;
}

.mars .crust {
  padding: 10px;
  border-width: 10px;
  border-color: #ff9db2;
}

.mars .mantle {
  padding: 80px;
  border-width: 20px;
}

.mars .core {
  padding: 20px;
  border-width: 10px;
}
