@keyframes fadein {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeup {
  0% {
    opacity: 0;
    top: 100px;
  }

  to {
    opacity: 1;
    top: 0;
  }
}

@keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    transform: scaleX(1);
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  background-color: #e6e6e6;
}

h1 {
  text-align: center;
}

.main {
  grid-area: main;
  width: 75vw;
  height: 75vw;
  margin: auto;
  max-height: 500px;
  max-width: 500px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
  width: 100%;
}

[data-cell] {
  cursor: pointer;
  background-color: #fff;
  transition: background 0.25s ease-out;
  display: inline-block;
  height: 150px;
  width: 150px;
  margin: 5px;
  text-align: center;
  vertical-align: middle;
  line-height: 160px;
  font-size: 120px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

[data-cell]:after {
  content: attr(data-value);
  font-size: 3rem;
  font-weight: 700;
  margin: 0 auto;
  text-transform: uppercase;
}

[data-cell]:hover {
  background: #525151;
  color: #fff;
}

#clear {
  position: fixed;
  bottom: 0;
  right: 0;
  min-width: 150px;
  min-height: 45px;
  z-index: 1;
}

.announce-winner {
  align-items: center;
  animation: fadein forwards 1 0.3s;
  background: rgba(30, 30, 30, 0.9);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  text-align: center;
  min-height: 100%;
  min-width: 100%;
  z-index: 9999;
}

.announce-winner h5 {
  animation: bounceIn forwards 1 0.5s;
  color: #f0f0f0;
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  position: relative;
}

.selected {
  pointer-events: none;
}
